# env
.env
.env.local
.env.*.local

# deps
node_modules/

# Next.js
.next/
out/

# Prisma
prisma/migrations/

# OS
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*

# Cloudflare Tunnel 运行时文件
.tunnel-url
.tunnel-pid
